!!
!! Mouse cursor
!!

Xcursor.theme:              breeze_cursors
Xcursor.size:               32

!!
!!  Terminal settings
!!

*imLocale:                  en_US.UTF-8

!! Urxvt
URxvt.termName:             rxvt-unicode-256color
URxvt.depth:                32
URxvt.cursorBlink:          1

!! Some programs like alsamixer and xprop
!! do not perform well with some graphics drivers
!! and in consequence redraw very slowly
URxvt.skipBuiltinGlyphs:    1

!! Disable urxvt Perl extensions
URxvt.perl-ext-common:      
URxvt.url-launcher:         
URxvt.matcher.button:       3

!!
!! Scrolling
!!

!! Urxvt
!! Remove scrollbar
URxvt.scrollBar:            0
URxvt.scrollBar_right:      1

!! Do not scroll with output
URxvt.scrollTtyOutput:      0

!! Scroll in relation to buffer
!! (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer:     1

!! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress:    1

!! TODO: Sort
URxvt.secondaryScreen:      1
URxvt.secondaryScroll:      0
URxvt.mouseWheelScrollPage: 0
URxvt.secondaryWheel:       1

!!
!! Fonts
!!

Xft.dpi:                    96
Xft.antialias:              1
Xft.hinting:                1
Xft.autohint:               0
Xft.hintstyle:              hintfull
Xft.rgba:                   rgb
Xft.lcdfilter:              lcddefault
*font:                      xft:monospace:size=14
*boldFont:                  xft:monospace:bold:size=14
*italicFont:                xft:monospace:italic:size=14
*boldItalicFont:            xft:monospace:bold:italic:size=14
*letterSpace:               0

!!
!! Color
!!

!! Sxiv image viewer
Sxiv.background:            #282A36
Sxiv.foreground:            #FFFFFF

!! Terminal cursor color
*pointerColor:              #B7DC4D
*cursorColor:               #B7DC4D

!! Font color schemes
!! Dracula palette
*foreground:                #F8F8F2
*background:            [75]#282A36
*color0:                    #282A36
*color8:                    #4D4D4D
*color1:                    #FF5555
*color9:                    #FF6E67
*color2:                    #50FA7B
*color10:                   #5AF78E
*color3:                    #F1FA8C
*color11:                   #F4F99D
*color4:                    #BD93F9
*color12:                   #CAA9FA
*color5:                    #FF79C6
*color13:                   #FF92D0
*color6:                    #8BE9FD
*color14:                   #9AEDFE
*color7:                    #BFBFBF
*color15:                   #E6E6E6
