!!
!! Cursor
!!

Xcursor*theme:              Adwaita
Xcursor*size:               32

!!
!!  URxvt Settings
!!

URxvt*depth:                32

!! Perl

URxvt*perl-ext:
URxvt*perl-ext-common:

!!
!! Scrolling
!!

!! remove scrollbar

URxvt*scrollBar:            false

!! do not scroll with output

URxvt*scrollTtyOutput:      false

!! scroll in relation to buffer (with mouse scroll or Shift+Page Up)

URxvt*scrollWithBuffer:     true

!! scroll back to the bottom on keypress

URxvt*scrollTtyKeypress:    true

!! TODO: Name
URxvt*secondaryScreen:      1
URxvt*secondaryScroll:      1
URxvt*mouseWheelScrollPage: 0

!! Fonts

Xft*dpi:                    96
Xft*antialias:              1
Xft*hinting:                0
Xft*autohint:               0
Xft*hintstyle:              hintnone
Xft*rgba:                   rgb
Xft*lcdfilter:              lcddefault
URxvt*font:                 xft:Source Code Pro:size=14
URxvt*boldFont:             xft:Source Code Pro:bold:size=16
URxvt*italicFont:           xft:Source Code Pro:italic:size=14
URxvt*boldItalicFont:       xft:Source Code Pro:bold:italic:size=16
URxvt*letterSpace:          0

!!
!! Coloring
!!

!!
Sxiv*background:            #282a36
Sxiv*foreground:            #ffffff
!!
URxvt*foreground:           #ffffff
URxvt*background:           #282a36
URxvt*pointerColor:         #b7dc4d
URxvt*cursorColor:          #b7dc4d
!!
URxvt*color0:               #3f3f3f
URxvt*color1:               #705050
URxvt*color2:               #00b45a
URxvt*color3:               #dfcf8f
URxvt*color4:               #506070
URxvt*color5:               #dc8cc3
URxvt*color6:               #8cd0d3
URxvt*color7:               #dcdccc
URxvt*color8:               #709080
URxvt*color9:               #cc5454
URxvt*color10:              #4d9f4d
URxvt*color11:              #f0dfaf
URxvt*color12:              #4186be
URxvt*color13:              #ec93d3
URxvt*color14:              #93e0e3
URxvt*color15:              #ffffff
